.review-tile {
    width: 100%;
    display: flex;
    margin: 10px 20px;
    border: 1px solid $gray-light;
    padding: 10px;
    flex-direction: column;

    >.card-wrapper {
        flex: 1;
        display: flex;
        align-self: center;
        padding: 0!important;
        overflow: unset!important;

        .star {
            margin: 4px;
            text-shadow: 2px 1px 3px $gray-dark;
            @mixin f6;

            &:not(.start-b) {
                 color: $gray-normal;
                 text-shadow: 2px 1px 3px $gray-normal;
             }
        }

        .card-li {
            margin-bottom: 20px!important;
        }
    }
    sup{
        color: $orange-light;
    }
}
