.employee-details {
    @mixin fill;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(79, 99, 206, 0.46);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;

    > .employee-details-body {
        background: white;
        width: 100%;
        height: calc(100% - 30px);
        margin: 20px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        position: relative;

        > .bi-clear {
            position: absolute;
            top: 0;
            right: 0;
        }
        > .image-holder {
            background: $gray-light;
            display: flex;
            margin-bottom: 20px;
            > img {
                height: 300px;
                max-height: 300px;
                width: auto;
                margin: auto;
            }
        }
        > .pane {
            display: flex;
            flex: 1;

            > * {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .card-wrapper {
                width: 400px;
                height: 200px;
                align-self: flex-start;
            }

            .card-li {
                margin-bottom: 20px;
                @mixin f4
            }

            .l-pane {
                flex: 30%;
                padding: 0 20px;

                .card-title {
                    @mixin f1
                }
                .card-body {
                    @mixin f2
                }

                .about-section {
                    padding: 20px 10px 10px;
                }
            }

            .r-pane {
                flex: 70%;
                flex-direction: column;

                .card-wrapper {
                    padding: 30px;
                    width: 100%;
                    overflow: auto;
                }
                .card-li {
                    margin-bottom: 40px;
                }

                .add-review {
                    display: flex;

                    * {
                        width: 100%;
                    }
                }
            }
        }
    }
}
