<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title><%= title %></title>
    <% tags.css.forEach(function (src) { %>
      <link type="text/css" rel="stylesheet" href="<%= src %>">
    <% }) %>
  </head>
  <body>
    <div id="app"></div>
    <% tags.js.forEach(function (src) { %>
      <script type="application/javascript" src="<%= src %>"></script>
    <% }) %>
  </body>
</html>
