::-webkit-input-placeholder {
    color: #c3c3c3;
    letter-spacing: 0.3px;
    font-weight: 200;
}
:-moz-placeholder {
    color: #c3c3c3;
    letter-spacing: 0.3px;
    font-weight: 200;
}
::-moz-placeholder {
    color: #c3c3c3;
    letter-spacing: 0.3px;
    font-weight: 200;
}
:-ms-input-placeholder {
    color: #c3c3c3;
    letter-spacing: 0.3px;
    font-weight: 200;
}

.form-group {
    margin-bottom: 0;
    position: relative;
    width: 100%;
}

label {
    display: block;
    color:#4d5969;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-left: 2px;
    .form-field, .input-group {
        margin-top: 4px;
        left: -2px;
    }
}

.input-group-addon {
    color: #c4c9cd;
    font-weight: 500;
    font-size: 12px;
    background-color: white;
}
.input-group {
    width: 100%;
    margin-bottom: .4rem;
    .form-control {
        border-radius: 3px;
        appearance: none;
        background: white;
        background-image: none;
        border: .05rem solid $gray-normal;
        display: block;
        font-size: .8rem;
        height: 1.8rem;
        line-height: 1.2rem;
        max-width: 100%;
        outline: 0;
        padding: .25rem .4rem;
        position: relative;
        transition: background .2s,border .2s, box-shadow .2s,color .2s;
        width: 100%;

        &:focus {
             border-color: $gray-dark;
             box-shadow: 0 0 0 0.1rem $gray-light;
         }
    }
}
.form-field-has-error {
    border: 1px solid #dc4d57;
    box-shadow: none;
    padding-right: 29px;
}
.form-field-has-error:focus:focus {
    border: 1px solid #dc4d57;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: 0 0 0 2px rgba(216, 134, 136, 0.15);
}

textarea {
    color: #3f4142;

    &:disabled {
         background: #f7f8f8;
     }
}




.form-group-outter {
    position: relative;
}

.password-input-show-icon {
    position: absolute;
    padding: 2px;
    height: 28px;
    width: 50px;
    cursor: pointer;
    background: none;
    outline: none;
    right: 0;
    top: 18px;
    z-index: 2;
    border: 1px solid $gray-normal;
    .svg-icon {
        width: 16px;
        height: 22px;
    }
}

.not-allowed, .not-allowed * {
    cursor: not-allowed;
}

.form-horizontal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-width: 500px;
    margin: 10px auto;
    border: 1px solid $gray-normal;
    border-radius: 4px;
    background: #d373230a;
}
