.employee-tile {
    display: flex;
    margin: 10px 20px;
    border: 1px solid $gray-light;
    padding: 10px;

    > img {
        border: 1px solid $gray-light;
        width: auto;
        height: 100px;
        margin: 0 20px 0 10px;
        border-radius: 50%;
    }
    > .card-wrapper {
        flex: 1;
        display: flex;
        align-self: center;

        .tab-list {
            flex-direction: column;

            > a {
                padding: 0;
                font-size: 14px;
                margin-top: 10px;
            }
        }
        .tile-action {
            clear: both;
        }
    }
}
