@import "../../styles/mixins.css";

.chip {
    background: $gray-light;
    margin: 5px 10px;
    padding: .2rem .4rem;
    float: left;
    box-sizing: border-box;
    height: 25px;
    border-radius: 20px;

    .avatar {
        margin: -6px 7px 5px -10px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border: 1px solid $orange-dark;
        color: $orange-dark;
        position: relative;
        border-radius: 50%;
        > span {
            @mixin f5
            color: white;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
        }
        > img {
            margin: auto;
            height: 1rem;
            width: auto;
            box-sizing: border-box;
        }
    }

    > * {
        text-decoration: none;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        float: left;
        height: 100%;
        display: flex;
        align-self: center;
        margin-right: 5px;
    }

    >.chip-title, >.chip-separator, >.chip-body {
        @mixin f4;
        .tooltip, .tooltip-trigger {
            @mixin f4;
        }
    }
    >.chip-separator {
        margin: 0 10px 0 5px;
        color: $orange-light;
    }
}
