
.tooltip {
    position: relative;

    .tooltip-trigger {
        text-decoration: underline;
    }
}

.tooltip-bubble {
    min-width: 120px;
    max-width: 500px;
    position: absolute;
    z-index: 10;
    &::after {
         content: '';
         position: absolute;
     }
}

.tooltip-top {
    bottom: 100%;
    left: 50%;
    padding-bottom: 9px;
    transform: translateX(-50%);

    &::after {
         border-left: 3px solid transparent;
         border-right: 3px solid transparent;
         border-top: 9px solid $gray-dark;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
     }
}

.tooltip-bottom {
    top: 100%;
    left: 50%;
    padding-top: 9px;
    transform: translateX(-50%);

    &::after {
         border-left: 3px solid transparent;
         border-right: 3px solid transparent;
         border-bottom: 9px solid $gray-dark;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
     }
}

.tooltip-left {
    top: 50%;
    right: 100%;
    padding-right: 9px;
    transform: translateY(-50%);

    &::after {
         border-left: 9px solid $gray-dark;
         border-top: 3px solid transparent;
         border-bottom: 3px solid transparent;
         top: 50%;
         right: 0;
         transform: translateY(-50%);
     }
}

.tooltip-right {
    top: 50%;
    left: 100%;
    padding-left: 9px;
    transform: translateY(-50%);

    &::after {
         border-right: 9px solid $gray-dark;
         border-top: 3px solid transparent;
         border-bottom: 3px solid transparent;
         top: 50%;
         left: 0;
         transform: translateY(-50%);
     }
}

.tooltip-message {
    background: white;
    border-radius: 3px;
    border: 1px solid $gray-dark;
    text-align: left;
    text-overflow: ellipsis;
    overflow-x: hidden;
    box-shadow: 0 0.05rem 0.2rem rgba(48,55,66,.3);
}

.menu {
    background: #fff;
    border-radius: .1rem;
    list-style: none;
    margin: 0;
    min-width: 180px;
    padding: .4rem;
    transform: translateY(.2rem);
    z-index: 300;
    .menu-item {
        position: relative;
        border-radius: .1rem;
        color: inherit;
        display: block;
        margin: 0 -.4rem;
        padding: .2rem .4rem;
        text-decoration: none;
        text-align: left;
    }
}
