.list-group {
    display: flex;
    flex-direction: column;
    flex: 1;

    > .list-header {
        display: flex;
        width: 100%;
        padding: 5px 30px 30px 30px;
        border-width: 0;
        margin: 5px 0 10px 0;

        > .card-wrapper {
            margin: 0;
            .card-li {
                margin-bottom: 10px;
            }
        }

        > *:first-of-type {
            flex: 1;
            margin-top: 25px;
        }

        > *:last-of-type {
            width: 300px;
        }
    }
    > .list-group-items {
        display: flex;
        flex-direction: column;

        >.no-result {
            padding: 50px 50px;
            border: 1px solid $gray-light;
            margin: 30px;
        }
    }
    > .list-group-items-rev {
        flex-direction: column-reverse;
    }
}
