@import "../../styles/mixins.css";

.card-wrapper {
    @mixin fill;
}
.card-border {
    border: 1px solid $gray-light;
    padding: 5px;
    border-radius: 2px;
}
.card-li {
    display: block;
    margin-bottom: 5px;
    clear: both;
}
.card-title {
    @mixin f2;
}
.card-body {
    @mixin f4;
}
.card-foot {
    @mixin f3;
}
.card-li b {
    color: $orange-dark;
}
